#editor-wrapper {
  height: 100%;
}
  
.container {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}


.ace_editor {
  position: inherit !important;
}

/* hide the editor ui instance */
.Pane2 {
  display: none;
}

div.SplitPane {
  position: relative !important;
}

section {
  position: relative;
}
