<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <md-toolbar color="primary">
    <span>{{title}}</span>
  </md-toolbar>
  <md-card>
    <md-card-header>
      <md-card-title>OAS</md-card-title>
    </md-card-header>
    <ace-editor #editor [(text)]="content" [mode]="'json'">
    </ace-editor>
    <md-card-actions>
      <button md-button (click)="onClickSave()">Save</button>
      <button md-button>Cancel</button>
    </md-card-actions>

  </md-card>

</div>